<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Person Detail</h2>

            <% if (!person) { %>
                <div class="alert alert-danger" role="alert">
                    Kontak tidak ditemukan! <a href="/contact" class="alert-link">Kembali ke daftar kontak</a>
                </div>
            <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= person.nama %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= person.nohp %></h6>
                  <p class="card-text"><%= person.email %></p>
                  <form action="/contact?_method=DELETE" method="POST" class="d-inline">
                    <input type="hidden" name="_id" value="<%= person._id %>">
                    <button type="submit" class="btn btn-danger badge rounded-pill" onclick="return confirm('Are you sure?')"><i class="bi bi-x-circle"></i> Delete</button>
                  </form>
                  <a href="/contact/edit/<%= person.nama %>" class="btn btn-warning badge rounded-pill"><i class="bi bi-x-circle"></i> Edit</a>
                  <a href="/contact" class="card-link d-block mt-2">&laquo; Kembali</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>